* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color1-main: #306998;
    --color2-main: #FFD43B;
    --background-main: #fcfcfc;
    --color-main: #0f0f0f;
}

.dark-mode {
    --color1-main: #FFD43B; /* #FFE873 */
    --color2-main: #306998; /* #4B8BBE */
    --background-main: #202020;
    --color-main: #fcfcfc;
}

/* Estilização do menu / barra de navegação */

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(20px);
    z-index: 999;
}

.menu > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.menu > ul > li {
    margin-left: 30px;
}

.menu > ul > li > a {
    display: flex;
    box-sizing: content-box;
    padding: 20px;
    cursor: pointer;
    color: #fcfcfc;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 1rem;  
    position: relative;
    transition: all .1s ease-out;
}

.menu > ul > li > a:hover {
    color: var(--color2-main);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.logo img {
    height: 3.8em;
}

.logo label {
    color: #fcfcfc;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Estilização do botão de modo escuro */

.btnDarkMode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    padding: 1px;
    width: 45px;
    height: 26px;
    background: rgba(255, 255, 255, .25);
    border-radius: 15px;
}

#chkDarkMode {
    display: none;
}

.chkBola {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    transition: all .2s ease-out;
    background: url("../img/sol.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
}

#chkDarkMode:checked + .chkBola {
    transform: translateX(18px);
    background: url("../img/lua.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    z-index: 1;
}

.conteudo-texto h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 1em;
}

.conteudo-texto a {
    color: var(--color1-main);
}

.conteudo-texto p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 1em;
}

.conteudo-img {
    width: 30%;
    margin-left: 4em;
}

/* Estilização dos containers principais do site */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4.5rem;
    min-height: 100vh;
    height: fit-content;
    background: var(--background-main);
    color: var(--color-main);
}

/* Estilização do footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 14svh;
    background: black;
    padding: 10px;
    z-index: 1;
}

footer label {
    color: white;
    font-family: "Roboto Slab", sans-serif;
    margin-bottom: 5px;
}

.contato-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contato-itens img {
    width: 2.5em;
    margin: 0 5px;
    transition: all .1s ease-out;
}

.contato-itens a:hover img {
    transform: translateY(-5px);
}

/* Media Queries para Width */

@media (max-width: 1200px) {
    .conteudo-texto {
        width: 50%;
    }
    .conteudo-texto h1 {
        font-size: 1.8em;
    }
    .conteudo-texto p {
        font-family: "Poppins", sans-serif;
        font-size: 1em;
        text-indent: 3em;
        text-align: justify;
        margin-bottom: 1em;
    }
}

@media (max-width: 800px) {
    .container {
        padding-top: 8em;
        flex-direction: column;
        justify-content: flex-start;
    }
    .conteudo-texto {
        width: 90%;
    }
    .conteudo-texto h1 {
        font-size: 1.6em;
    }
    .conteudo-texto p {
        font-family: "Poppins", sans-serif;
        font-size: 1em;
        text-indent: 3em;
        text-align: justify;
        margin-bottom: 1em;
    }
    .conteudo-img {
        display: none;
    }
    footer {
        height: fit-content;
        padding: 10px;
    }
    .contato-itens img {
        width: 1.5em;
    }
}

@media (max-width: 384px) {
    .container {
        padding-top: 8em;
        flex-direction: column;
        justify-content: flex-start;
    }
    .conteudo-texto {
        width: 90%;
    }
    .conteudo-texto h1 {
        font-size: 1.4em;
    }
    .conteudo-texto p {
        font-family: "Poppins", sans-serif;
        font-size: .8em;
        text-indent: 3em;
        text-align: justify;
        margin-bottom: 1em;
    }
    .conteudo-img {
        display: none;
    }
    footer {
        height: fit-content;
        padding: 10px;
    }
    .contato-itens img {
        width: 1.5em;
    }
}

/* Media Queries para Height */

@media (max-height: 810px) {
    footer  {
        height: 15svh;
    }
    .contato-itens {
        margin-bottom: 10px;
    }
    .contato-itens img {
        width: 2em;
    }
}

@media (max-height: 500px) {
    .container {
        padding-top: 4.8em;
    }
    .conteudo-texto {
        width: 80%;
    }
    .conteudo-texto h1 {
        font-size: 1.8em;
    }
    .conteudo-texto p {
        font-family: "Poppins", sans-serif;
        font-size: .8em;
        text-indent: 3em;
        text-align: justify;
        margin-bottom: 1em;
    }
    .conteudo-img {
        display: none;
    }
    footer  {
        height: 15svh;
        padding: 0;
    }
    footer label {
        font-size: .8em;
    }
    .contato-itens {
        margin-bottom: 5px;
    }
    .contato-itens img {
        width: 1em;
    }
}
